<div>

  <div class='col-md-8 col-md-offset-2 vertical-center'>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal col-lg-8'}) do |f| %>

      <h1> Log in </h1>
      <% if flash[:alert] %>

        <div class='control-group alert alert-danger'>
          <%= flash[:alert] %>
        </div>

      <% end %>

      <br><br>

      <div class='control-group'>
        <%= f.label :email, 'Email', class: 'control-label' %>
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div> <br>

      <div class='control-group'>
        <%= f.label :password, class: 'control-label' %>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>

        <div>
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me, class: 'control-label' %>
        </div>

      <% end -%>

      <div>
        <%= f.submit 'Log in', class: 'btn btn-primary' %>
      </div>

      <%= render 'users/shared/links' %>

    <% end %>

  </div>

</div>
