<!-- #FIX: _form.html.erb -->
<div class='container'>
  <div class='col-md-6 col-md-offset-2 vertical-center'>

    <%= form_for @group, html: { class: 'form-horizontal col-lg-10'} do |f| %>

      <h2>Update</h2>

      <!-- #FIX: Extract common code in partial -DONE -->
      <div class='control-group'>

        <%= f.label :name, class: 'col-lg-4 control-label' %>
        <%= f.text_field :name, class: 'form-control' %>

      </div><br>

      <div class='control-group'>

        <%= f.label :description, class: 'col-lg-4 control-label' %>
        <%= f.text_area :description, class: 'form-control' %>

      </div><br>

      <div class='control-group col-lg-offset-4'>

        <%= f.submit class: 'btn btn-primary' %>

      </div>

    <% end %>

  </div>
</div>
