  <div class='col-md-8 col-md-offset-2 vertical-center'>

    <div class='control-group'>

      <%= f.label :name, class: 'control-label' %>
        <font color='red'>
          *
        </font>
      <%= f.text_field :name, class: 'form-control' %>

    </div><br>

    <div class='control-group'>

      <%= f.label :description, class: 'control-label' %>
        <font color='red'>
          *
        </font>
      <%= f.text_area :description, class: 'form-control' %>

    </div><br>

    <div class='control-group'>

      <%= f.submit class: 'btn btn-primary' %>

    </div>


  </div>