<div class=' col-md-offset-1 col-md-8'>

  <ul class='nav nav-tabs'>
    <li> <%= link_to 'My groups', :groups %> </li>
    <li> <%= link_to 'Other groups', :extraneous_groups %> </li>
    <li> <%= link_to 'Owned groups', :owned_groups %> </li>
  </ul>

  <div>
    <table class="table table-striped table-hover ">

      <tr>
        <th class='group-width'>Name
          <%= link_to_order :name %>
        </th>
        <th>Description</th>

          <% if action != :owned %>
            <th>Creator
                <%= link_to_order :creator %>
            </th>
          <% end %>

        <th>Action</th>
      </tr>


      <% @groups.each do |group| %>

        <tr>
          <td class='group-width'> <%= group.name %> </td>
          <td> <%= group.description.truncate(25) %> </td>

          <% if action != :owned %>
            <td> <%= group.creator.name %> </td>
          <% end %>

          <td>
            <%= link_to 'View', group_path(group) %>
            <%= group_join_link(group) %>
            <% if admin_logged_in? || group.owner?(current_user) %>
              <%= link_to :edit, edit_group_path(group) %>
            <% end %>
          </td>

        </tr>

      <% end %>
    </table>
    <%= paginate @groups %>
  </div>
</div>
