<h2> <%= @group.name.capitalize %> </h2>
  <%= link_to 'Members', members_group_path(@group) %>
<div> <%= @group.description %> </div>
<br>
<div class='join-link'>
  <%= group_join_link(@group) %>
</div>
<% if @group.members.include? current_user %>
  <%= render 'groups/create_post' %>
<% end %>
