<div class=' col-md-offset-1 col-md-8'>
  <%= render 'show_group_details' %>
  <div>
    <table class="table table-striped table-hover ">
      <tr>
        <th>Name </th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      <% @members.each do |member| %>
        <tr>
          <td> <%= member.name %> </td>
          <td> <%= member.email %> </td>
          <td>
            <%= link_to 'View', user_path(member) %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @members %>
  </div>
</div>
