<div class='dashboard-body'>

  <h2> <%= @group.name.capitalize %> </h2>
    <%= link_to 'Members', members_group_path(@group) %>
  <div> <%= @group.description %> </div>
  <br>
  <div class='join-link'>
    <%= group_join_link(@group) %>
  </div>
  <br>

  <div>
    <br>
    <table class="table table-striped table-hover ">
      <tr>
        <th>Name </th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      <% @members.each do |member| %>
        <tr>
          <td> <%= member.name %> </td>
          <td> <%= member.email %> </td>
          <td>
            <%= link_to 'View', user_path(member) %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @members %>
  </div>
</div>
<div class='dashboard-sidebar'>
  <%= render 'shared/group' %>
</div>