<section class='group-detail p-20 mt-10 mob-bot-margin'>
  <%= render 'show_group_details' %>
</section>
<article class="group-block mt-20">
  <table class="table table-striped table-hover ">
    <tr>
      <th>Name </th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td> <%= member.name %> </td>
        <td> <%= member.email %> </td>
        <td>
          <%= link_to '', user_path(member), class:'view fa fa-search' %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @members %>
</article>
