<div class='container'>

  <% if !not_self_user?(@user) %>
    <%= render 'users/registrations/side_bar' %>
  <% end %>

  <div class='col-md-6 col-md-offset-2 vertical-center'>

    <%= form_for @user, html: { class: 'form-horizontal col-lg-10'} do |f| %>

      <h2>edit user details</h2>

      <div class='control-group col-md-offset-4'>

        <%= render partial: 'homes/error_message', locals: {errors: @user.errors} %>

        <br><br>
      </div>

      <div class='control-group'>

        <%= f.label :name, class: 'col-lg-4 control-label' %>
        <%= f.text_field :name, class: 'form-control' %>

      </div><br/>

      <div class='control-group'>

        <%= f.label :about_me, class: 'col-lg-4 control-label' %>
        <%= f.text_area :about_me, class: 'form-control' %>

      </div><br/>

      <div class='control-group'>

        <%= f.fields_for :image do |attach| %>

          <%= f.label :attachment, class: 'col-lg-4 control-label' %>
          <%= attach.file_field :attachment %>

        <% end %>

      </div><br/>

      <div class='control-group'>

        <%= f.label :job_title, class: 'col-lg-4 control-label' %>
        <%= f.text_field :job_title, class: 'form-control' %>

      </div><br/>

      <div class='control-group'>

        <%= f.label :date_of_birth, class: 'col-lg-4 control-label' %>

        <%= date_select :user, :date_of_birth, start_year: User::START_YEAR, end_year: Time.current.year, class: 'form-control' %>

      </div><br/>

      <div class='control-group'>

        <%= f.label :mobile, class: 'col-lg-4 control-label' %>
        <%= f.text_field :mobile, class: 'form-control' %>

      </div><br/>

      <% if admin_logged_in? && !user_logged_in?(@user) %>

        <div class='control-group'>

          <%= f.label :admin, class: 'col-lg-4 control-label' %>
          <%= f.check_box :admin %>

        </div><br/>

        <div class='control-group'>

          <%= f.label :enabled, class: 'col-lg-4 control-label' %>
          <%= f.check_box :enabled %>

        </div><br/>

        <div class='control-group'>

          <%= f.label :joining_date, class: 'col-lg-4 control-label' %>
          <%= date_select :user, :joining_date, start_year: User::START_YEAR, end_year: Time.current.year, class: 'form-control' %>

        </div><br/>

      <% end %>

      <div class='control-group col-lg-offset-4'>

        <%= f.submit 'Update user', class: 'btn btn-primary' %>

      </div>

    <% end %>

  </div>
</div>