<section class="edit-details pull-left mob-bot-margin">
  <% if creator_logged_in?(@user) %>
    <%= render 'users/registrations/side_bar' %>
  <% end %>
  <article class='col-md-7 col-md-offset-5 edit-det-inr mt-15 pb-15'>
    <%= form_for @user, html: { class: 'form-horizontal col-md-12'} do |f| %>
      <h2 class='mb-0'>edit user details</h2>
      <fieldset class='form-group col-md-offset-4'>
        <%= render partial: 'shared/error_message', locals: {errors: @user.errors} %>
      </fieldset>
      <fieldset class='form-group'>
        <%= f.label :name, class: 'control-label' %>
          <font color='red'>
          *
        </font>
        <%= f.text_field :name, class: 'form-control' %>
      </fieldset>
      <fieldset class='form-group'>
        <%= f.label :about_me, class: 'control-label' %>
        <%= f.text_area :about_me, class: 'form-control' %>
      </fieldset>
      <fieldset class='form-group'>
        <%= f.fields_for :image do |attach| %>
          <%= f.label :attachment, class: 'control-label' %>
          <div class="fields">
            <%= attach.file_field :attachment %>
            <span class="attachment-btn absolute">Browse</span>
          </div>
        <% end %>
      </fieldset>
      <fieldset class='form-group'>
        <%= f.label :job_title, class: 'control-label' %>
        <%= f.text_field :job_title, class: 'form-control' %>
      </fieldset>
      <fieldset>
        <%= f.label :date_of_birth, class: 'control-label margin-left' %>
      </fieldset>
      <fieldset class='form-group'>
        <%= date_select :user, :date_of_birth, start_year: User::START_YEAR, end_year: Time.current.year, class: 'form-control' %>
      </fieldset>
      <fieldset class='form-group'>
        <%= f.label :mobile, class: 'control-label' %>
        <%= f.text_field :mobile, class: 'form-control' %>
      </fieldset>
      <% #FIXME_AB: ??? -%>
      <% if admin_logged_in? && !creator_logged_in?(@user) %>
        <fieldset class='form-group'>
          <%= f.label :admin, class: 'control-label' %>
          <%= f.check_box :admin %>
        </fieldset>
        <fieldset class='form-group'>
          <%= f.label :enabled, class: 'control-label' %>
          <%= f.check_box :enabled %>
        </fieldset>
        <fieldset class='form-group'>
          <%= f.label :joining_date, class: 'control-label' %>
          <%= date_select :user, :joining_date, start_year: User::START_YEAR, end_year: Time.current.year, class: 'form-control' %>
        </fieldset>
      <% end %>
      <fieldset class='form-group'>
        <%= f.submit 'Update user', class: 'btn btn-success' %>
      </fieldset>
    <% end %>
  </article>
</section>