<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<table class='table-width'>
  <tr>
    <th>Image</th>
    <th>Name
      <%= link_to_by_order :name %>
    </th>
    <th>Email
      <%= link_to_by_order :email %>
    </th>
    <th>Joining Date</th>
  </tr>
  <% @users.each do |user| %>
    <tr class='row-height'>
      <td class='column-width'>
        <%= user.attachment ? image_tag(user.attachment.attachment.url) : 'no image' %>
      </td>
      <td class='column-width'> <%= user.name %> </td>
      <td class='column-width'> <%= user.email %> </td>
      <td class='column-width'> <%= user.joining_date %> </td>
      <td class='column-width'>
        <%= link_to 'show', user_path(user) %>
          <% if admin_or_self_user?(user) %>
          | <%= link_to 'edit', edit_user_path(user) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @users %>
