<div class='container'>

  <% @users.each do |user| %>

    <div class='row row-margin-bottom'>

      <div class='col-md-5 no-padding lib-item' data-category='view'>

        <div class='lib-panel'>
          <div class='row box-shadow'>
            <div class='col-md-6'>

              <%= user.image ? image_tag(user.image.attachment.url(:large), class: 'lib-img') : 'no image' %>

            </div>

            <div class='col-md-6'>
              <div class='lib-row lib-header'>

                <%= user.name %>

                <div class='lib-header-seperator'></div>
              </div>

              <div class='lib-row lib-desc'>

                <%= user.email %><br>
                <%= user.joining_date %><br>
                <%= link_to 'show', user_path(user) %><br><br>

                <% if admin_or_self_user?(user) %>
                  <%= link_to 'edit', edit_user_path(user), class: 'col-md-offset-4' %>
                <% end %>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class='col-md-1'></div>

    </div>

  <% end %>

</div>
