<div class='container'>
<% #FIXME_AB: What if there were no users -%>
  <% if @users %>
    <% @users.each do |user| %>

      <div class='row row-margin-bottom'>

        <div class='col-md-5 no-padding lib-item' data-category='view'>

          <div class='lib-panel'>
            <div class='row box-shadow'>
              <div class='col-md-4'>
                <!-- #FIX: missing image tag can be returned from helper and used at all places -->
                <%= user.image ? image_tag(user.large_thumbnail_url, class: 'lib-img') : image_tag('missing.jpg') %>
              </div>

              <div class='col-md-6'>
                <div class='lib-row lib-header'>

                  <%= user.name %>

                  <div class='lib-header-seperator'></div>
                </div>

                <div class='lib-row lib-desc'>

                  <%= user.email %><br>
                  <%= user.joining_date.to_s(:long) %><br>
                  <%= link_to 'show', user_path(user) %><br><br>
                  <% if can_edit_user?(user) %>
                    <%= link_to 'edit', edit_user_path(user), class: 'col-md-offset-4' %>
                  <% end %>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class='col-md-1'></div>

      </div>

    <% end %>
  <% end %>

</div>
