<div class='container dashbard-body'>
  <div class='col-md-6 col-md-offset-1 vertical-center'>
    <table class='table table-striped table-hover table-bordered center-align'>

      <h2> User details </h2>
      <%= render 'follow_unfollow', user: @user %>
        <tr>
          <td> Name </td>
          <td> <%= @user.name %> </td>
        </tr>
        <tr>
          <td> About me </td>
          <td> <%= @user.about_me %> </td>
        </tr>
        <tr>
          <td> Job title </td>
          <td> <%= @user.job_title %> </td>
        </tr>
        <tr>
          <td> Email </td>
          <td> <%= @user.email %> </td>
        </tr>
        <tr>
          <td> Date Of Birth </td>
          <td>
            <% if @user.date_of_birth %>
              <%= @user.date_of_birth.to_s(:long) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td> Mobile </td>
          <td> <%= @user.mobile %> </td>
        </tr>
        <tr>
          <td> Joining date </td>
          <td> <%= @user.joining_date.to_s(:long) %> </td>
        </tr>

      <tr>
        <td> Attachment </td>

        <td> <%= @user.image ? image_tag(@user.image.attachment.url) : missing_image_tag %>
        </td>
      </tr>

      <tr>
        <td> number of followers </td>
        <td> <%= link_to @user.number_of_followers, follower_user_path(@user), class: 'follower-numbers' %> </td>
      </tr>

    </table>
  </div>
  <div class='user-posts'>
    <%= render 'shared/posts' %>
  </div>
</div>
