<!-- #FIX: Rename to _post_comment_form.html.erb DONE -->
<div class='col-lg-10'>
  <%= nested_form_for [post, @comment], html: { class: 'form-horizontal col-lg-12' ,remote: true, class: 'create-comment'} do |f| %>

    <div class='control-group'>
      <%= f.text_area :content, class: 'form-control inputbox' %>
    </div>

      <%= f.hidden_field :post_id, value: post.id %>

    <br>
    <div class='comment-post'>
      <div class='control-group'>
        <%= f.fields_for :comment_documents do |doc| %>
          <%= doc.file_field :attachment %>
        <% end %>
      </div>
      <%= f.link_to_add 'Add attachment', :comment_documents %>
    </div>

    <div class='control-group col-lg-offset-10'>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    </div>

  <% end %>
  <br> <br>
</div>
