<!-- #FIX: Rename to _post_comment_form.html.erb DONE -->
<div>
  <%= nested_form_for [post, @comment], html: { class: 'form-horizontal col-lg-12' ,remote: true, class: 'create-comment'} do |f| %>
    <div class='control-group mb-10'>
      <%= f.text_area :content, class: 'form-control inputbox' %>
    </div>
    <%= f.hidden_field :post_id, value: post.id %>
    <div class='comment-post'>
      <div class='control-group'>
        <%= f.fields_for :comment_documents do |doc| %>
        <%= doc.file_field :attachment %>
        <span class='attachment-btn absolute'>Browse</span>
      <% end %>
      </div>
      <%= f.link_to_add 'Add attachment', :comment_documents %>
    </div>
    <div class='attachment-type'>
      Only image, pdf, excel and doc files are supported.
    </div>
    <div class='control-group col-lg-offset-10'>
      <%= f.submit 'Comment', class: 'btn btn-success add-comment' %>
    </div>
  <% end %>
</div>
