<!-- #FIX: Rename file to _posts.html.erb -->
<div class='col-lg-offset-1 col-lg-7'>

  <% @posts.each do |post| %>
    <div class='post-division fill'>
      <div class='add-margin'>

        <% if post.user.image %>
          <%= image_tag(post.user.image.attachment.url(:thumb)) %>
        <% end %>

      <span class='name-bold'>
        <%= post.user.name.capitalize %>
      </span>

        <br><br>

        <%= linkify_hashtags(post.content) %>

        <% post.documents.each do |document| %>

          <div class='attachment comment-margin'>

            <%= link_to 'attachment', document.attachment.url %>

            <% if can_edit_user?(post.user) %>
              <%= link_to 'destroy attachment', attachment_path(document), method: :delete, remote: true, class: 'delete-attachment' %>
            <% end %>

          </div>

        <% end %>

        <%= link_to_like_unlike post, :post %>

        <div class='count'>
          <%= post.likes.count %>
        </div>


        <% if can_edit_user?(post.user) %>

          <%= link_to 'delete post', post_path(post.id), method: :delete, class: 'delete-post' %>

        <% end %>


        <%= render 'home/show_comments', post: post %>

        <% if( !post.group || current_user.groups.include?(post.group) ) %>

          <%= render 'shared/create_comments', post: post %>

        <% end %>

        <br> <br> <br> <br>
      </div>
    </div>
  <% end %>

  <br>

</div>
