<!-- #FIX: Rename to _posts_form_fields.html.erb -->
<div class='control-group col-md-offset-4'>

<!-- #FIX: Move error messages to form -->

<br><br>
</div>

<div class='form-group'>
<div class='col-lg-7 col-lg-offset-1'>
  <%= locals[:f].text_area :content, placeholder: 'what\'s on your mind', class: 'form-control' %>
</div>
<br><br><br><br>

<div class='add-more-attachment col-lg-2'>

  <%= locals[:f].fields_for :documents do |attach| %>

    <%= attach.file_field :attachment %>

    <%= locals[:f].link_to_remove 'remove attachment' %>
  <% end %>
  <%= locals[:f].link_to_add 'Add attachment', :documents %>

</div>
