<div class='form-group'>
<div class='col-lg-9 col-lg-offset-1'>
  <%= locals[:f].text_area :content, placeholder: 'What\'s on your mind?', class: 'form-control inputbox' %>
</div>
<br><br><br>
<div class='add-more-attachment col-lg-2'>

  <%= locals[:f].fields_for :post_documents do |attach| %>

    <%= attach.file_field :attachment %>

  <% end %>
  <%= locals[:f].link_to_add 'Add attachment', :post_documents %>
    <div class='attachment-type'>
      Only image, pdf, excel and doc files are supported.
    </div>

      <div class='post-submit-button'>
        <br>
        <%= locals[:f].submit %>
      </div>

</div>
