<div class='col-lg-12'>

  <% post.comments.each do |comment| %>

    <div class='shadow comment-box'>
      <div class='comment-margin'>
        <% if comment.user.image %>
          <%= image_tag(comment.user.image.attachment.url(:thumb)) %>
        <% end %>
      <span class='name-bold'>
        <%= comment.user.name.capitalize %>
      </span>

      </div>

      <div class='comment-margin'>
        <%= linkify_mentions(linkify_hashtags(comment.content)) %>
      </div>

      <%= link_to_like_unlike comment, :comment %>

      <span class='count comment-margin'>
        <%= comment.likes.count %>
      </span>

      <% comment.document_files.each do |document| %>
      <!-- #FIX: Indentation -->
      <div class='attachment comment-margin'>
        <span>
          <% if document.attachment_content_type.split('/').first == 'image' %>
            <%= render 'shared/show_attachment', image: document %>
          <% else %>
            <%= link_to attachment_type(document), document.attachment.url %>
            <%= document.attachment_file_name %>
          <% end %>
        </span>

        <% if can_edit_user?(comment.user) %>
          <%= link_to 'Destroy', attachment_path(document), method: :delete, remote: true, class: 'delete-attachment' %>
        <% end %>
      </div>

      <% end %>

      <%= link_to_like_unlike comment, :comment %>

      <div class='count comment-margin'>
        <%= comment.likes.count %>
      </div>

      <div class='comment-margin'>
        <!-- #FIX: Move if condition outer div -->
        <% if can_edit_user?(comment.user) %>
          <%= link_to 'Delete', post_comment_path(post, comment, comment: {group_id: @group.try(:id)} ), method: :delete, remote: true, class: 'delete-comment' %>
        <% end %>
      </div>

    </div>
  <% end %>
  <!-- #FIX: Use id and a longer name to uniquely identify comment div -->
  <div class= <%= post.id %> ></div>

</div>
