<div class='container'>

  <div class='col-md-7 col-md-offset-2 vertical-center'>

    <%= form_tag( { controller: :settings, action: :update }, { method: :put }) do %>

      <% if flash[:notice] %>
        <div class="control-group col-lg-offset-4">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div class='control-group'>

        <%= label_tag :company_name, 'Company Name', {class: 'col-lg-4 control-label'} %>
        <%= text_field_tag :company_name, company_config['name'], disabled: true, class: 'form-control col-md-offset-4'%>

      </div>
      <br>

      <% Setting.all.each do |setting| %>
        <div class='control-group'>
          <%= label_tag :value, setting.key, { class: 'col-lg-4 control-label' } %>
          <%= text_field_tag :value, setting.value, { class: 'form-control', name: "value[#{ setting.id }]" } %>
          <br>
        <% end %>
      </div>
      <br />

      <div class='control-group col-md-offset-4'>

        <%= submit_tag %>

      </div>

    <% end %>
  </div>
</div>