<div class='col-lg-10'>
  <%= nested_form_for [post, @comment], html: { class: 'form-horizontal col-lg-12'} do |f| %>
    <div class='control-group'>
      <%= f.text_area :content, class: 'form-control' %>
      <%= f.hidden_field :group_id, value: @group.try(:id) %>
    </div>
    <br>
    <div class='col-lg-3'>
      <div class='control-group'>
        <%= f.fields_for :documents, @comment do |doc| %>
          <%= doc.file_field :attachment %>
        <% end %>
      </div>
      <%= f.link_to_add 'Add', :documents %>
    </div>

    <div class='control-group col-lg-offset-10'>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <br> <br>
</div>
