<div class='col-lg-offset-2'>
  <% if flash[:error] %>
    <% flash[:error].each do |flash_error| %>
      <%= flash_error %>
      <br>
    <% end %>
  <% end %>
</div>
<%= form_for @post, class: 'form-horizontal' do |f| %>

  <%= render partial: 'homes/error_message', locals: {errors: @post.errors} %>

    <%= render 'homes/posts_form_fields', locals: {f: f} %>

    <div class='col-lg-4 col-lg-offset-1 post-submit-button'>
      <br>
      <%= f.submit %>
    </div>
  </div>
<% end %>
