<!-- #FIX: Rename to _groups.htm.erb -->
<%= current_user.image ? image_tag(current_user.image.attachment.url) : 'no image' %>
<!-- #FIX: Indentation -->
<%= current_user.name %>

<br> <br>
<div class='list-group'>

  <%= link_to 'Groups', groups_path, class: 'list-group-item active' %>

  <% @my_groups.each do |group| %>

    <%= link_to group.name, group, class: 'list-group-item' %>
    
  <% end %>

  <%= link_to 'new group', :new_group, class: 'list-group-item' %>
</div>