<!-- #FIX: Rename file to _posts.html.erb -->
<div class='col-lg-offset-1 col-lg-7'>

  <% @posts.each do |post| %>
    <div class='post-division fill'>
      <% if post.user.image %>
        <%= image_tag(post.user.image.attachment.url(:thumb)) %>
      <% end %>

      <%= post.user.name %>

      <br><br>

      <%= post.content %>

      <% post.documents.each do |document| %>
        <%= link_to 'attachment', document.attachment.url %>
        <% if admin_or_self_user?(post.user) %>
          <%= link_to 'destroy attachment', post_attachment_path(post, document), method: :delete %>
        <% end %>
      <% end %>

      <%= render 'homes/show_comments', post: post %>
      <% if(@group ? @group.members.include?(current_user) : true) %>
        <%= render 'homes/create_comments', post: post %>
      <% end %>
      <br> <br> <br> <br>
    </div>
  <% end %>

  <br>

</div>
