<div class='container'>
  <div class='col-md-7 col-md-offset-2 vertical-center'>

    <%= form_for [:admin, @setting] do |f| %>
      <div class='control-group'>
        <%= label_tag :company_name, 'Company Name', {class: 'col-lg-4 control-label'} %>
        <%= text_field_tag :company_name, COMPANY['name'], disabled: true, class: 'form-control col-md-offset-4'%>
      </div>

      <br>
      <div class='control-group'>
      <%= f.fields_for :image do |attach| %>

        <%= attach.label :attachment, class: 'col-lg-4 control-label' %>

        <%= attach.file_field :attachment %>

      <% end %>

      </div><br>

      <div class='control-group col-lg-offset-4'>
        <%= f.submit %>
      </div>

    <% end %>

  </div>
</div>
