<div class='navbar navbar-default'>
  <div class='navbar-header search-input'>

    <%= form_tag html: {class: 'form-inline'} do %>

      <div class='col-md-offset-9'>

        <%= text_field_tag :search_input, '', placeholder: 'Search'  %>
        <%= submit_tag 'search', class: 'btn btn-primary' %>

      </div>

    <% end %>

    <ul class='nav navbar-right navbar-position '>

      <li class='dropdown'>

        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>More
          <b class='caret'></b>
        </a>

        <ul class='dropdown-menu'>
          <li>
            <%= link_to :Group, groups_path %>
          </li>
          <li>
            <%= link_to :People, users_path %>
          </li>
          <li>
            <%= link_to 'Edit Profile', edit_user_path(current_user) %>
          </li>

          <% if admin_logged_in? %>

            <li>

              <%= link_to :Settings, settings_edit_path %>

            </li>

          <% end %>

          <li>

            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>