<!-- <div class='navbar-center blue-color'> -->
    <ul class='nav'>

      <div class='pull-left logo-position'>
          <%= link_to(image_tag(@logo.image.attachment.url(:thumb)), :root) %>
        <div class='user-name'>
          Hi <%= current_user.name.capitalize %>
        </div>

      </div>

    <li class='dropdown more-position'>

      <a href='#' class='dropdown-toggle more-link-color' data-toggle='dropdown'>More
        <b class='caret'></b>
      </a>

      <ul class='dropdown-menu'>
        <li>
          <%= link_to 'Group', groups_path %>
        </li>
        <li>
          <%= link_to 'People', users_path %>
        </li>
        <li>
          <%= link_to 'Edit Profile', edit_user_path(current_user) %>
        </li>

        <% if admin_logged_in? %>

          <li>

            <%= link_to 'Settings', admin_settings_edit_path %>

          </li>

        <% end %>

        <li>

          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

        </li>
      </ul>
    </li>
    <div class='search-user col-md-offset-9 col-md-2'>
      <input type ="hidden" id="user_user_id"></input>
    </div>

  </ul>
<!-- </div> -->
