<!-- #FIX: Spacing issue -->
<div class="navbar navbar-default">
  <div class="navbar-header search_input">
    <%= form_tag html: {class: "form-inline"} do %>
    <div class="col-md-offset-9">
      <%= text_field_tag :search_input, "", placeholder: "Search"  %>
      <%= submit_tag "search", class: "btn btn-primary" %>
    </div>
    <% end %>
    <ul class="nav navbar-right navbar-position ">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Group</a></li>
          <li><a href="#">People</a></li>
          <li><a href="#">Edit Profile</a></li>
          <% if admin_logged_in %>
            <!-- #FIX: Indentation -->
            <!-- #FIX: Symbol names should not start with capital letters -->
          <li><%= link_to :Settings, new_setting_path %></li>
          <% end %>
          <li>
            <!-- #FIX: Indentation issue. Please take care. -->
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>