<!DOCTYPE html>
<html>
<head>
  <title>Vammer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= link_to image_tag(Setting.first.value), :root %>
    <% if user_signed_in? %>
      <div class="user_name">
        hi <%= current_user.name %>
      </div>
      <div class="search_header">
        <%= render "layouts/search_bar" %>
      </div>
    <% end %>
  </div>
  <div class="container-body">
    <%= yield %>
  </div>

</body>
</html>
