<!DOCTYPE html>
<html>
  <head>
    <title>Vammer</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class='header'>
      <div class='container'>
        <div class='row'>
          <% if user_signed_in? %>
            <div class='search-header'>
              <%= render 'layouts/search_bar' %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <section class='bodycontainer ovr-hdn mt-20'>
      <!-- #FIX: Fade out flash messages after some time -->
      <% if flash[:notice] %>
        <div class="control-group alert alert-success col-lg-4">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="control-group alert alert-danger col-lg-4">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if current_user %>
        <aside class='col-md-2'>
          <%= render 'shared/group' %>
        </aside>
        <article class='navigation-bar-new col-md-7'>
          <ul class="nav nav-tabs">
            <li role="presentation" class=<%= 'active' if request.fullpath == '/' %>> <%= link_to 'Home', root_path %> </li>
            <li role="presentation" class=<%= 'active' if request.fullpath == '/groups' %>> <%= link_to 'Group', groups_path %> </li>
            <li role="presentation" class=<%= 'active' if request.fullpath == '/users' %>> <%= link_to 'People', users_path %> </li>
          </ul>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
