<section class='edit-details pull-left mob-bot-margin'>
  <%= render 'users/registrations/side_bar' %>
  <article class='col-md-7 col-md-offset-5 edit-det-inr mt-15 pb-15 chng-pwd'>
    <h2 class='mb-0'> Change password </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for:
          <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <fiesldset class='form-group'>
        <%= f.label :current_password, class: 'control-label' %>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </fiesldset>
      <fiesldset class='form-group'>
        <%= f.label :password, 'New password', class: 'control-label' %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
      </fiesldset>
      <fiesldset class='form-group'>
        <%= f.label :password_confirmation, 'Confirm password', class: ' control-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %></fiesldset>
      <fiesldset class = 'form-group'>
        <%= f.submit "Update", class: 'btn btn-success'%>
      </fiesldset>
    <% end %>
  </article>
</section>